
@{
	ViewBag.Title = "Register";
	string emailpattern = @"\w{2,30}@[a-zA-Z]{2,15}\.[a-zA-Z]{3}";
}

<h3>Please fill the form to register</h3> 

<form class="form -horizontal" action="/Home/AddUser" method="post">
	<div class="form-group">
		<label class="control-label col-sm-2">First Name:</label>
		<div>
			<input type="text" name="FirstName" pattern="[a-zA-Z]{2,30}" autofocus required />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2">Last Name:</label>
		<div>
			<input type="text" name="LastName" pattern="[a-zA-Z]{2,30}" required />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2">Email:</label>
		<div>
			<input type="email" placeholder="email@example.com" pattern="@emailpattern" name="Email" required />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2">Phone Number:</label>
		<div>
			<input type="tel" pattern="\d{10}|\d{3}-\d{3}-\d{4}" placeholder="Optional" name="Num" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2">Password:</label>
		<div>
			<input type="password" name="Pass" required pattern=".{5,30}" />
		</div>
	</div>
	<div class="form-group col-sm-offset-2 col-sm-7">
		<input type="submit" class="btn btn-default" value="Register" />
	</div>
</form>